<header class="header">
  <div class="container d-flex justify-content-between align-items-center">
<!--    <div class="search-bar d-flex align-items-center">-->
<!--      <input type="text" placeholder="Hôm nay bạn muốn tìm gì?" class="form-control">-->
<!--      <button class="btn btn-primary ml-2">Tìm kiếm</button>-->
<!--    </div>-->
    <div class="header-icons d-flex align-items-center ms-auto">
      <a href="#"><i class="fa fa-user"></i> Tài khoản</a>
      <a href="/login"><i class="fa fa-sign-out"></i> Đăng xuất</a>
    </div>
  </div>
</header>

