<header class="header">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="logo">
      <a href="#"><img src="/images/lazada-logo.png" alt="Logo"></a>
    </div>
<!--    <div class="search-bar d-flex align-items-center">-->
<!--      <input type="text" placeholder="Hôm nay bạn muốn tìm gì?" class="form-control">-->
<!--      <button class="btn btn-primary ml-2">Tìm kiếm</button>-->
<!--    </div>-->
    <div class="header-icons d-flex align-items-center">
      <a href="#"><i class="fas fa-user"></i> Tài khoản</a>
      <a href="/login"><i class="fas fa-sign-out-alt"></i> Đăng xuất</a>
      <a href="#"><i class="fas fa-shopping-cart"></i> <span class="cart-count"></span></a>
    </div>
  </div>
</header>

