<div style="z-index: 0" class="wrapper">
  <br/><br/><br/>
  <div class="product">
    <div><h4>Electronic Device</h4></div>
    <br/><br/>
    <div class="products-container">
      <div class="item" *ngFor="let item of products">
        <ul>
          <li>
            <div class="item-image">
              <img style="height: 225px; width: 225px" [src]="item.image" />
            </div>
          </li>
          <li>
            <div class="item-title">
              <p>{{ item.title }}</p>
            </div>
          </li>
          <li>
            <div class="item-price">
              <p>Price: {{ item.price }} VND</p>
            </div>
          </li>
          <li>
            <div class="item-orders">
              <p>Total Orders: 500</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="pagination">
      <ul>
        <li>
          <a href="#" (click)="choosePage(currentPage - 1)" [class.disabled]="currentPage === 0">&laquo;</a>
        </li>

        <li *ngFor="let i of [].constructor(pageSize); let index = index">
          <a href="#" (click)="choosePage(index)" [class.active]="index === currentPage">{{ index + 1 }}</a>
        </li>

        <li>
          <a href="#" (click)="choosePage(currentPage + 1)" [class.disabled]="currentPage === pageSize - 1">&raquo;</a>
        </li>
      </ul>
    </div>

  </div>
  <br/><br/><br/>

</div>
