<div style="z-index: 0" class="wrapper">
  <br/><br/><br/>
  <div class="product">
    <div><h4>Electronic Device</h4></div>
    <br/><br/>
    <div class="item  col-sm-3 col-md-3 col-lg-3">
      <ul *ngFor="let item of products">
        <li>
          <div class="item-image">
            <img style="height: 225px; width: 225px" [src]="item.image"/>
          </div>
        </li>
        <li>
          <div class="item-price" style="margin-left: 20px; font-size:20px">
            <p>{{item.title}}</p>
          </div>
        </li>
        <li>
          <div class="item-price" style="margin-left: 20px; font-size:20px; color: #f57224">
            <p>Price: {{item.price}} VND </p>
          </div>
        </li>
        <li>
          <div class="item-orders" style="margin-left: 20px;">
            <p>Total Orders: 500</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="pagination">
      <ul>
        <li>
          <a href="#" (click)="choosePage(currentPage - 1)" [class.disabled]="currentPage === 0">&laquo;</a>
        </li>

        <li *ngFor="let i of [].constructor(pageSize); let index = index">
          <a href="#" (click)="choosePage(index)" [class.active]="index === currentPage">{{ index + 1 }}</a>
        </li>

        <li>
          <a href="#" (click)="choosePage(currentPage + 1)" [class.disabled]="currentPage === pageSize - 1">&raquo;</a>
        </li>
      </ul>
    </div>

  </div>
  <br/><br/><br/>
<!--  <div class="product">-->
<!--    <div><h4>Electronic Accessories</h4></div>-->
<!--    <br/><br/>-->
<!--    <div class="item  col-sm-3 col-md-3 col-lg-3">-->
<!--      <ul>-->
<!--        <li>-->
<!--          <div class="item-image">-->
<!--            <img src="assets/images/iphone13promaxwhite.jpeg"/>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-price" style="margin-left: 20px; font-size:20px; color: #f57224">-->
<!--            <p>Price: {{price}} VND </p>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-orders" style="margin-left: 20px;">-->
<!--            <p>Total Orders: 500</p>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul>-->
<!--        <li>-->
<!--          <div class="item-image">-->
<!--            <img src="assets/images/iphone13promaxwhite.jpeg"/>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-price" style="margin-left: 20px; font-size:20px; color: #f57224">-->
<!--            <p>Price: {{price}} VND </p>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-orders" style="margin-left: 20px;">-->
<!--            <p>Total Orders: 500</p>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul>-->
<!--        <li>-->
<!--          <div class="item-image">-->
<!--            <img src="assets/images/iphone13promaxwhite.jpeg"/>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-price" style="margin-left: 20px; font-size:20px; color: #f57224">-->
<!--            <p>Price: {{price}} VND </p>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-orders" style="margin-left: 20px;">-->
<!--            <p>Total Orders: 500</p>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--      <ul>-->
<!--        <li>-->
<!--          <div class="item-image">-->
<!--            <img src="assets/images/iphone13promaxwhite.jpeg"/>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-price" style="margin-left: 20px; font-size:20px; color: #f57224">-->
<!--            <p>Price: {{price}} VND </p>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li>-->
<!--          <div class="item-orders" style="margin-left: 20px;">-->
<!--            <p>Total Orders: 500</p>-->
<!--          </div>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </div>-->
<!--    <div class="pagination">-->
<!--      <ul>-->
<!--        <li> <a href="#">&laquo;</a></li>-->
<!--        <li>-->
<!--          <a href="">1</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="">2</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="">3</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="">4</a>-->
<!--        </li>-->
<!--        <li>-->
<!--          <a href="">5</a>-->
<!--        </li>-->
<!--        <li> <a href="#">&raquo;</a></li>-->
<!--      </ul>-->
<!--    </div>-->
<!--  </div>-->

</div>
