.sidebar {
  background: gold;
  height: 100vh;
  color: black;
  padding: 20px;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
}

.sidebar .menu li {
  margin-bottom: 15px;
}
.sidebar .menu li a{
  text-decoration: none;
}


.logo img {
  width: 80%; /* Logo chiếm 80% chiều rộng sidebar */
  max-width: 180px; /* Giới hạn kích thước tối đa */
  height: auto; /* Giữ nguyên tỷ lệ ảnh */
  display: block; /* Tránh lỗi inline */
  margin-right: 350px;
}


