#sidebar-menu{
    background-color: white;
    margin-top: 0px;
    min-height: 670px;
    font-size: medium;
    float: left;
    width: 25%;
    height: 100vh; /* Chiều cao toàn màn hình */
    overflow-y: auto; /* Thêm thanh cuộn nếu nội dung quá dài */
}
.nav.side-menu ul {
  list-style-type: none !important; /* Xóa dấu chấm */
  padding: 0 !important;
  margin: 0 !important;
}

.nav.side-menu li {
  list-style: none !important; /* Đảm bảo xóa dấu chấm trên mỗi li */
  margin: 0 !important; /* Xóa khoảng cách giữa các li */
  padding: 0 !important; /* Xóa khoảng cách padding */
}

.nav.side-menu li a{
  text-decoration: none;
}



