.sidebar {
  background: gold;
  height: 100vh;
  color: black;
  padding: 20px;
}

.sidebar .menu {
  list-style: none;
  padding: 0;
}

.sidebar .menu li {
  margin-bottom: 15px;
}
.sidebar .menu li a{
  text-decoration: none;
}




