
 <!-- sidebar menu -->
          <div id="sidebar-menu" class="main_menu_side hidden-print main_menu col-2">
            <div class="menu_section">

<!--              <h2 style="color: white;padding: 40px">Admin Panel</h2>-->

              <ul class="nav side-menu">
                <li><a  href="/home"><i class="fa fa-home"></i>  Home </a></li>
                <br><br>
                <li><a href="/add-product"><i class="fa fa-desktop"></i>  Add Product</a></li>
                <br><br>
                <li><a href="/edit-product"><i class="fa fa-table"></i>  Edit Product</a></li>
                <br><br>
                <br><br>
                <br><br>
                <br><br>
                <br><br>

                <li><a href="/edit-product"><i class="fa fa-table"></i>  admin</a></li>
                <br><br>

                <li><a href="/login"><i class="fa fa-table"></i>  logout</a></li>


              </ul>
            </div>
          </div>
          <!-- /sidebar menu -->
